body {
  
}

.mySVG{
	background-image: url(bg-pattern-bottom.svg), url(bg-pattern-top.svg);
		background-position: bottom left, top  right;
  background-repeat: repeat, no-repeat;
	background-color:#008b8b;
	text-align: center;
	font-family: 'Kumbh Sans', sans-serif;
	font-Weights: 400, 700;

}



.p-profile{ 
border-radius: 10px;
width: 300px;
margin-left:520px; 
margin-top: 100px;
margin-bottom: 100px;


/* glassmorphism */
		background: rgba( 255, 255, 255, 1.00 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 18.5px );
-webkit-backdrop-filter: blur( 18.5px ); 


}

.pattern-card{
	border-top-left-radius:10px;
	border-top-right-radius: 10px;
	
	

}

.image-victor{
border-radius:300%;
position: relative;
bottom: 50px;
margin: 0px 0px 0px 0px;
}

/* .v.crest{
	display: flex;
} */

ul{
	list-style: none;
	display: inline-flex;
padding-top:0px;
margin-right: 30px;
}

li{
	/* margin:0px 0px 0px 0px; */
	padding:0px 15px 0px 15px;
/* text-align: center;	 */
}

.blurry{
	color: rgba(161, 158, 158, 0.877)
}

hr{
color:  rgba(161, 158, 158, 0.877);
}



	/* .attribution { 
position: relative;
top: 600px;
right:500px;
	} */

  }


	.p-profile{
		margin-right:600px;
	}
}

 .attribution { font-size: 11px;
 /* float: relative; 
 bottom:500px; */
	
  /* }
    .attribution a { color: hsl(228, 45%, 44%);
		text-decoration: none;
		color:black;
		 }
		 .attribution a:hover{
			 color: rgb(178, 34, 214); */
		 }

		 /* media query helps with the responsiveness with other devices so google it */
/* @media screen and () {
.p-profile{
	margin: 0px;
} */
@media only screen and (max-width: 375px) {
  /* For mobile phones: */
  .p-profile{
		margin-top:10px;
		 
	 position:relative;
	
	 right: 500px;
	 
	}